.article{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  min-width: 300px;
  margin: 15px;
  margin-top: 40px;
  max-height: 400px;
}

.article-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #8ea8af2e;
    margin-bottom: 20px;
}

.article-img-logo{
    width: 25px;
    height: 25px;

}

.article-img-logo path{
    fill:#6173d8;
}
.article-text{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    color: #000000;
}

.article-link-button{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    color: #000000;
}

h5{
    font-size: 1em;
    margin: 0px;
    margin-bottom: 20px;
}
p{
    margin: 0px;
    font-size: 0.8em;
    color: #737070;
}
a{
    font-size: 0.6em;
    color: #6173d8;
    font-weight: bold;
}


@media (min-width: 800px) and (max-width: 1100px) {

    .article{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        min-width: 300px;
        margin: 15px;
        margin-top: 40px;
        max-height: 500px;
      }
  }

  @media (min-width: 550px) and (max-width: 800px) {
    .article{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        min-width: 200px;
        margin: 15px;
        margin-top: 40px;
        max-height: 500px;
      }
  }      