.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff
}

.App-header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width:85%;
}

.App-link {
  color: #61dafb;
}

