.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 85%;
    height: 150px;
    margin-top: 50px;
    background: url("./media/banner-fondo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-logo{
    background: url("./media/proptech2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 33%
}

.banner-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    width: 33%
}

.banner-download-button{
    height: 100%;
    width: 33%
}

h3{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 400;
}

h6{
    margin: 0px;
    font-size: 0.8em;
    font-weight: 400;
}